<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/home.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
    />
  </head>

  <body>
    <div class="desktop-1">
      <div class="desktop-1-child"></div>
      <footer class="desktop-1-item"></footer>
      <div class="desktop-1-inner"></div>
      <h1 class="download">DOWNLOAD</h1>
      <h3 class="our-app">OUR APP</h3>
      <h1 class="our-mission">Our Mission</h1>
      <h1 class="login-as">Enter as..</h1>
      <nav class="rectangle-parent">
        <header class="group-child"></header>

        <img class="socio-logo-2-icon  aa" alt="" src="../images/nlog.png" /><b
          class="empowering-the-next"
          >Employing workers</b
        >
       <div class="new">
        <a href="#uiwlinkedin-parent"><b class="contact-us">Contact Us</b></a>

        <a href="donate.html"><b class="donate">Help</b> </a>

        <a href="#uiwlinkedin-parent"> <b class="download1">Download</b></a>

       </div>
       

       
      </nav>
      <p class="empowering-tomorrows-leaders-container">
        <span class="empowering-tomorrows-leaders"
          >"Helping skilled workers. </span
        ><span class="empowering-tomorrows-leaders"
          >So that they can get work,</span
        ><span class="empowering-tomorrows-leaders">and earn and live their</span
        ><span class="empowering-tomorrows-leaders">lives happily."</span>
      </p>

      <!--  Ngo Button-->
      <button class="ngo-button" onclick="window.location.href='getter.html'">
        <div class="ngo-button-child"></div>
        <div class="ngo">Worker</div>
        <img class="organization-icon" alt="" src="../images/ngo.png" />
      </button>
      <!--  Educator Button-->
      <form action="/open-node-file" method="post">
        <button class="educator-button" type="submit">
          <div class="ngo-button-child"></div>
          <div class="educator">Customer </div>
          <img class="training-icon" alt="" src="../images/teacher.png" />
        </button>
      </form>

      <button class="ios-button" onclick="window.location.href='coming.html'">
        <div class="ios-button-child"></div>
        <div class="ios">Ios</div>
        <img class="icbaseline-apple-icon" alt="" src="../images/ios.png" />
      </button>

      <button
        class="android-button"
        onclick="window.location.href='coming.html'"
      >
        <div class="ios-button-child"></div>
        <div class="android">Android</div>
        <img class="uilandroid-icon" alt="" src="../images/and.png" />
      </button>

      <img
        class="student-with-graduation-cap-1-icon"
        alt=""
        src="../images/nu.webp"
      />

      <img class="ngo-1-icon" alt="" src="../images/building.png" />

      <img class="classroom-1-icon" alt="" src="../images/user.webp" />

      <h4 class="students-benifited">Customers Benifited</h4>
      <h4 class="ngo-onboard">Houses reached</h4>
      <div class="educators-registered">Workers registered</div>

      <h2 class="k number-counter" data-final-number="5000">5000</h2>
      <h2 class="h2 number-counter" data-final-number="100">100</h2>
      <h2 class="h21 number-counter" data-final-number="150">150</h2>

      <img class="app-1-icon" alt="" src="../images/app.png" />
      <div class="carbonlogo-facebook"></div>

      <div class="uiwlinkedin-parent" id="uiwlinkedin-parent">
        <a href="https://www.linkedin.com/in/aditya-raj-9655b4218/">
          <img class="uiwlinkedin-icon" alt="" src="../images/linked.png" />
        </a>

        <a href="https://twitter.com/Socio_origin">
          <img class="uiwlinkedin-icon" alt="" src="../images/twitter.png" />
        </a>

        <a href="https://www.instagram.com/socio_origin/?next=%2F">
          <img class="uiwlinkedin-icon" alt="" src="../images/insta.png" />
        </a>

        <a href="https://www.facebook.com/">
          <img class="vector-icon" alt="" src="../images/fb.png" />
        </a>

        <a href="mailto:'adityaraj23300@gmail.com'">
          <img class="uiwlinkedin-icon" alt="" src="../images/mail.png" />
        </a>
      </div>
    </div>

    <script src="../src/animation.js"></script>
  </body>
</html>
