<!DOCTYPE html>
<html>
<head>

    <html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <link rel="stylesheet" href="../css/global.css" />
        <link rel="stylesheet" href="../css/ngo_login.css" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" />
    </head>

    <body>

        <nav class="rectangle-parent">
            <header class="group-child"></header>
            <img class="socio-logo-2-icon" alt="" src="../images/logo.png" /><b class="empowering-the-next">Empowering The Next Generation</b
    >



    <a href="#uiwlinkedin-parent"><b class="contact-us">Contact Us</b></a>

            <a href="donate.html"><b class="donate">Donate</b> </a>



            <a href="#uiwlinkedin-parent"> <b class="download1">Download</b></a>



        </nav>
        <div class="main-div">
            <h1> Welcome Back!</h1>
            <input type="email" placeholder="Email.." />
            <input type="password" placeholder="Password" />
            <button onclick="login( )">Login</button>

            <p>Don't have an account? <a href="ngo_signup.html">Sign Up</a></p>



        </div>
        <div class="back">
            <button onclick="window.location.href='home.html'">Back</button>
        </div>

        <div class="desktop-1-inner">
            <h1 class="download">DOWNLOAD</h1>
            <h3 class="our-app">OUR APP</h3>



        </div>
        <button class="ios-button" onclick="window.location.href='coming.html'">
            <div class="ios-button-child"></div>
            <div class="ios">Ios</div>
            <img
              class="icbaseline-apple-icon"
              alt=""
              src="../images/ios.png"
            /></button
          >

          <button class="android-button" onclick="window.location.href='coming.html'">
            <div class="ios-button-child"></div>
            <div class="android">Android</div>
            <img
              class="uilandroid-icon"
              alt=""
              src="../images/and.png"
            /></button
          >

    </body>
    </html>
